<div class="section-header">
    <h1>パスワード再発行</h1>
</div>

<% if (typeof data.success.message !== "undefined") { %>
    <div class="alert alert-success alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.success.message %>
        </div>
    </div>
<% } %>

<% if (typeof data.error.message !== "undefined") { %>
    <div class="alert alert-danger alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.error.message %>
        </div>
    </div>
<% } %>

<div class="card">
    <form class="/auth-password/<%= data.auth_key %>" method="post">
        <div class="card-body pb-0">
            <div class="form-group">
                <label>パスワード</label>
                <input type="password" class="form-control" name="password" required>
                <span class="form-error">
                    <% if (typeof data.error.password !== "undefined") { %>
                        <%= data.error.password %>
                    <% } %>
                </span>
            </div>

            <div class="form-group">
                <label>パスワード（確認）</label>
                <input type="password" class="form-control" name="password_verify" required>
            </div>
        </div>
        <div class="card-footer pt-">
            <button type="submit" class="btn btn-primary">変更</button>
        </div>
    </form>
</div>


<!--<main>-->
<!--    <h1>パスワード再発行</h1>-->
<!--    <% if (typeof data.success_message !== "undefined") { %>-->
<!--        <p class="success_message"><%= data.success_message %></p>-->
<!--    <% } %>-->
<!--    <% if (typeof data.error_message !== "undefined") { %>-->
<!--        <p class="error_message"><%= data.error_message %></p>-->
<!--    <% } %>-->
<!--    <form action="/auth-password/<%= data.auth_key %>" method="post">-->
<!--        <label>-->
<!--            <span class="label">パスワード</span>-->
<!--            <input type="password" name="password" required>-->
<!--        </label>-->
<!--        <label>-->
<!--            <span class="label">パスワード（確認）</span>-->
<!--            <input type="password" name="password_verify" required>-->
<!--        </label>-->
<!--        <input type="submit" value="送信">-->
<!--    </form>-->
<!--</main>-->