<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title><% if (typeof data.meta.site_title !== "undefined") { %><%= data.meta.site_title %><% } %></title>
    <link rel="stylesheet" href="/stisla/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stisla/modules/fontawesome/css/all.min.css">
    <% if (typeof data.meta.css !== "undefined") { %>
        <% for (var c = 0; c < data.meta.css.length; c++) { %>
            <link rel="stylesheet" href="<%= data.meta.css[c] %>">
        <% }%>
    <% } %>
    <link rel="stylesheet" href="/stisla/css/style.min.css">
    <link rel="stylesheet" href="/stisla/css/components.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171420901-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171420901-1');
    </script>
</head>

<body class="layout-2">
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <a href="/" class="navbar-brand sidebar-gone-hide">Medice Note</a>
                <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand sidebar-gone-show">
                        <a href="/">Medice Note</a>
                    </div>
                    <% if (typeof data.meta.login_status !== "undefined" && data.meta.login_status == true) { %>
                        <ul class="sidebar-menu">
                            <li class="menu-header">お薬</li>
                            <li>
                                <a class="nav-link" href="/medicine-list">
                                    <i class="fas fa-list"></i>
                                    <span>薬情報一覧</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="/medicine-register">
                                    <i class="fas fa-plus"></i>
                                    <span>薬情報登録</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="/calendar">
                                    <i class="far fa-calendar-alt"></i>
                                    <span>カレンダー</span>
                                </a>
                            </li>
                            <li class="menu-header">グループ</li>
                            <li>
                                <a class="nav-link" href="/group-list">
                                    <i class="fas fa-layer-group"></i>
                                    <span>グループ情報</span>
                                </a>
                            </li>
                            <% if (typeof data.meta.group_list !== "undefined") { %>
                                <% for (var g = 0; g < data.meta.group_list.length; g++) { %>
                                    <li>
                                        <a class="nav-link" href="/group/<%= data.meta.group_list[g]['group_id'] %>">
                                            <i class="far fa-square"></i>
                                            <span><%= data.meta.group_list[g]['group_name'] %></span>
                                        </a>
                                    </li>
                                <% } %>
                            <% } %>
                            <li class="menu-header">通知</li>
                            <li>
                                <a class="nav-link" href="/notice-list">
                                    <i class="fas fa-bell"></i>
                                    <span>通知一覧</span>
                                </a>
                                <a class="nav-link" href="/notice-register">
                                    <i class="fas fa-plus"></i>
                                    <span>通知登録</span>
                                </a>
                            </li>
                            <li class="menu-header">その他</li>
                            <li>
                                <a class="nav-link" href="/contact">
                                    <i class="far fa-envelope"></i>
                                    <span>お問い合わせ</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="/account-setting">
                                    <i class="fas fa-user-cog"></i>
                                    <span>アカウント設定</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="/logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span>ログアウト</span>
                                </a>
                            </li>
                        </ul>
                    <% } else { %>
                        <ul class="sidebar-menu">
                            <li class="menu-header">アカウント</li>
                            <li>
                                <a class="nav-link" href="/signup">
                                    <i class="fas fa-user-plus"></i>
                                    <span>アカウント登録</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="/login">
                                    <i class="fas fa-sign-in-alt"></i>
                                    <span>ログイン</span>
                                </a>
                            </li>
                            <li class="menu-header">その他</li>
                            <li>
                                <a class="nav-link" href="/contact">
                                    <i class="far fa-envelope"></i>
                                    <span>お問い合わせ</span>
                                </a>
                            </li>
                        </ul>
                    <% } %>
                </aside>
            </div>

            <div class="main-content">
                <section class="section">
                    <%- body %>
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    &copy; 2020 Medice Note
                    <div class="bullet"></div>
                    Theme By <a href="https://getstisla.com/" target="_blank" rel="noopener">STISLA</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="/stisla/modules/jquery.min.js"></script>
    <script src="/stisla/modules/popper.js"></script>
    <script src="/stisla/modules/tooltip.js"></script>
    <script src="/stisla/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="/stisla/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/stisla/modules/moment.min.js"></script>
    <script src="/stisla/modules/sticky-kit.js"></script>
    <% if (typeof data.meta.script !== "undefined") { %>
        <% for (var s = 0; s < data.meta.script.length; s++) { %>
            <script src="<%= data.meta.script[s] %>"></script>
        <% }%>
    <% } %>
    <script src="/stisla/js/stisla.js"></script>
    <script src="/stisla/js/scripts.js"></script>
</body>

</html>