<div class="section-header">
    <h1>薬登録</h1>
</div>

<% if (typeof data.success_message !== "undefined") { %>
    <div class="alert alert-success alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.success_message %>
        </div>
    </div>
<% } %>

<% if (typeof data.error_message !== "undefined") { %>
    <div class="alert alert-danger alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.error_message %>
        </div>
    </div>
<% } %>

<div class="card">
    <form action="/medicine-register" method="post">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>薬の名前</label>
                        <input type="text" class="form-control" name="medicine_name">
                    </div>
                    <div class="form-group">
                        <label>病院名</label>
                        <input type="text" class="form-control" name="hospital_name">
                    </div>
                    <div class="form-group">
                        <label>飲む個数</label>
                        <input type="number" class="form-control" name="number" value="1">
                    </div>
                    <div class="form-group">
                        <label>飲む時間</label>
                        <select class="form-control select2" multiple="" name="take_time">
                            <% if (typeof meta.take_time != "undefined") {
                                for (var tt = 0; tt < meta.take_time.length; tt++) {
                                    %>
                                    <option value="<%= meta.take_time[tt]['take_time_id'] %>"><%= meta.take_time[tt]['take_time_name'] %></option>
                                    <%
                                }
                            } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>処方日</label>
                        <input type="date" class="form-control" name="starts_date">
                    </div>
                    <div class="form-group">
                        <label>処方期間</label>
                        <input type="number" class="form-control" name="period" value="1">
                    </div>
                    <div class="form-group">
                        <label>種類</label>
                        <select class="form-control select2" multiple="" name="medicine_type">
                            <% if (typeof meta.medicine_type != "undefined") {
                                for (var mt = 0; mt < meta.medicine_type.length; mt++) {
                                    %>
                                    <option value="<%= meta.medicine_type[mt]['type_id'] %>"><%= meta.medicine_type[mt]['type_name'] %></option>
                                    <%
                                }
                            } %>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label>薬画像</label>
                        <div class="custom-file">
                            <input type="file" name="medicine_image" class="custom-file-input" id="medicine-image">
                            <label class="custom-file-label">ファイルを選択</label>
                        </div>
                        <div class="form-text text-muted">1MB以内のJPEG・PNGファイルを選択</div>
                    </div>
                    <div class="form-group">
                        <label>説明</label>
                        <textarea class="form-control" name="description"></textarea>
                        <span class="form-error">
                            <% if (typeof data.error_description !== "undefined") { %>
                                <%= data.error_description %>
                            <% } %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer pt-">
            <button type="submit" class="btn btn-primary">登録</button>
        </div>
    </form>
</div>
