<div class="section-header">
    <h1>薬情報登録</h1>
</div>

<% if (typeof data.success.message !== "undefined") { %>
    <div class="alert alert-success alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.success.message %>
        </div>
    </div>
<% } %>

<% if (typeof data.error.message !== "undefined") { %>
    <div class="alert alert-danger alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.error.message %>
        </div>
    </div>
<% } %>

<div class="card">
    <form action="/medicine-register" method="post" enctype="multipart/form-data">
        <div class="card-body pb-0">
            <p class="text-muted">* : 必須項目</p>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>薬の名前 *</label>
                        <input type="text" class="form-control" name="medicine_name" id="medicine_name" required
                            <% if (typeof data.old.medicine_name !== "undefined") { %> value="<%= data.old.medicine_name %>" <% } %>>
                        <span class="form-error">
                            <% if (typeof data.error.medicine_name !== "undefined") { %>
                                <%= data.error.medicine_name %>
                            <% } %>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>病院名 *</label>
                        <input type="text" class="form-control" name="hospital_name" id="hospital_name" required
                            <% if (typeof data.old.hospital_name !== "undefined") { %> value="<%= data.old.hospital_name %>" <% } %>>
                        <span class="form-error">
                            <% if (typeof data.error.hospital_name !== "undefined") { %>
                                <%= data.error.hospital_name %>
                            <% } %>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>飲む個数 *</label>
                        <input type="number" class="form-control" min="1" name="number" required
                            <% if (typeof data.old.number !== "undefined") { %> value="<%= data.old.number %>" <% } else { %> value="1" <% } %>>
                        <span class="form-error">
                            <% if (typeof data.error.number !== "undefined") { %>
                                <%= data.error.number %>
                            <% } %>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>飲む時間 *</label>
                        <select class="form-control select2" multiple="" name="take_time" required>
                            <% if (typeof data.meta.take_time != "undefined") {
                                for (var tt = 0; tt < data.meta.take_time.length; tt++) { %>
                                    <option value="<%= data.meta.take_time[tt]['take_time_id'] %>"
                                    <% if (typeof data.old.take_time != "undefined" && data.old.take_time.some(d => d == data.meta.take_time[tt]['take_time_id'])) { %> selected <% } %>>
                                        <%= data.meta.take_time[tt]['take_time_name'] %>
                                    </option>
                                <% }
                            } %>
                        </select>
                        <span class="form-error">
                            <% if (typeof data.error.take_time !== "undefined") { %>
                                <%= data.error.take_time %>
                            <% } %>
                        </span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>処方日 *</label>
                            <input type="text" class="form-control datepicker readonly-background" name="starts_date" required readonly
                                <% if (typeof data.old.starts_date !== "undefined") { %> value="<%= data.old.starts_date %>" <% } %>>
                            <span class="form-error">
                                <% if (typeof data.error.starts_date !== "undefined") { %>
                                    <%= data.error.starts_date %>
                                <% } %>
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>処方期間 (日) *</label>
                            <input type="number" class="form-control" min="1" name="period" required
                                <% if (typeof data.old.period !== "undefined") { %> value="<%= data.old.period %>" <% } else { %> value="1" <% } %>>
                            <span class="form-error">
                                <% if (typeof data.error.period !== "undefined") { %>
                                    <%= data.error.period %>
                                <% } %>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>種類 *</label>
                        <select class="form-control select2" name="medicine_type" required>
                            <% if (typeof data.meta.medicine_type != "undefined") {
                                for (var mt = 0; mt < data.meta.medicine_type.length; mt++) {
                                    %>
                                    <option value="<%= data.meta.medicine_type[mt]['type_id'] %>"
                                    <% if (typeof data.old.medicine_type !== "undefined" && data.old.medicine_type == data.meta.medicine_type[mt]['type_id']) { %> selected <% } %>>
                                        <%= data.meta.medicine_type[mt]['type_name'] %>
                                    </option>
                                    <%
                                }
                            } %>
                        </select>
                        <span class="form-error">
                            <% if (typeof data.error.medicine_type !== "undefined") { %>
                                <%= data.error.medicine_type %>
                            <% } %>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>グループ *</label>
                        <select class="form-control select2" name="group_id">
                            <% if (typeof data.meta.group_list != "undefined") {
                                for (var gl = 0; gl < data.meta.group_list.length; gl++) {
                                    %>
                                        <option value="<%= data.meta.group_list[gl]['group_id'] %>"
                                            <% if (typeof data.old.group_id !== "undefined" && data.old.group_id == data.meta.group_list[gl]['group_id']) { %> selected <% } %>>
                                            <%= data.meta.group_list [gl]['group_name'] %>
                                        </option>
                                    <%
                                }
                            } %>
                        </select>
                        <span class="form-error">
                            <% if (typeof data.error.group_id !== "undefined") { %>
                                <%= data.error.group_id %>
                            <% } %>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label>薬画像</label>
                        <div class="custom-file">
                            <input type="file" accept="image/jpeg,image/png" name="medicine_image" class="custom-file-input" id="medicine-image">
                            <label class="custom-file-label" id="medicine-image-label">ファイルを選択</label>
                        </div>
                        <span class="form-error">
                            <% if (typeof data.error.medicine_image !== "undefined") { %>
                                <%= data.error.medicine_image %>
                            <% } %>
                        </span>
                        <div class="form-text text-muted">1MB以内のJPEG・PNGファイルを選択 (個人情報が含まれる画像はアップロードしないでください)</div>
                    </div>
                    <div class="form-group">
                        <label>説明</label>
                        <textarea class="form-control" name="description"><% if (typeof data.old.description !== "undefined") { %><%= data.old.description %><% } %></textarea>
                        <span class="form-error">
                            <% if (typeof data.error.description !== "undefined") { %>
                                <%= data.error.description %>
                            <% } %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer pt-">
            <button type="submit" class="btn btn-primary">登録</button>
        </div>
    </form>
</div>
