<main>
    <h1>変更テスト</h1>
    <form action="/medicine-update/<%= data.request.medicineID %>" method="post">
        <% if (typeof data.errorMsg !== "undefined" && data.errorMsg.medicineName !== false) { %>
            <p class="medicine_update_error_message"><%= data.errorMsg.medicineName %></p>
        <% } %>
        <% if (typeof data.request !== "undefined" ) { %>
            薬名 <input type="text" name="medicineName" value="<%= data.request.medicineName %>"><br>
        <% } %>

        <% if (typeof data.errorMsg !== "undefined" && data.errorMsg.hospitalName !== false) { %>
            <p class="medicine_update_error_message"><%= data.errorMsg.hospitalName %></p>
        <% } %>
        <% if (typeof data.request !== "undefined" ) { %>
            病院名 <input type="text" name="hospitalName" value="<%= data.request.hospitalName %>"><br>
        <% } %>

        <% if (typeof data.errorMsg !== "undefined" && data.errorMsg.number !== false) { %>
            <p class="medicine_update_error_message"><%= data.errorMsg.number %></p>
        <% } %>
        <% if (typeof data.request !== "undefined" ) { %>
            飲む個数 <input type="text" name="number" value="<%= data.request.number %>"><br>
        <% }else{ %>
            飲む個数 <input type="text" name="number" value=""><br>
        <% } %>

        <% if (typeof data.errorMsg !== "undefined" && data.errorMsg.takeTime !== false) { %>
            <% for (var key in data.errorMsg.takeTime) { %>
                <% if(data.errorMsg.takeTime.hasOwnProperty(key) && key !== false){ %>
                    <p class="medicine_register_error_message"><%= data.errorMsg.takeTime[key] %></p>
                    <% break; %>
                <% } %>
            <% } %>
        <% } %>
        <% if (typeof data.request !== "undefined" && Object.keys(data.request.takeTime).filter((key) => {
            return data.request.takeTime[key] === '1'
        }).length > 0) { %>
            飲む時間  朝<input type="checkbox" name="takeTime[]" value="1" checked="checked">
        <% }else{ %>
            飲む時間  朝<input type="checkbox" name="takeTime[]" value="1">
        <% } %>
        <% if (typeof data.request !== "undefined" && Object.keys(data.request.takeTime).filter((key) => {
            return data.request.takeTime[key] === '2'
        }).length > 0) { %>
            昼<input type="checkbox" name="takeTime[]" value="2" checked="checked">
        <% }else{ %>
            昼<input type="checkbox" name="takeTime[]" value="2">
        <% } %>
        <% if (typeof data.request !== "undefined" && Object.keys(data.request.takeTime).filter((key) => {
            return data.request.takeTime[key] === '3'
        }).length > 0) { %>
            食前<input type="checkbox" name="takeTime[]" value="3" checked="checked">
        <% }else{ %>
            食前<input type="checkbox" name="takeTime[]" value="3">
        <% } %>
        <% if (typeof data.request !== "undefined" && Object.keys(data.request.takeTime).filter((key) => {
            return data.request.takeTime[key] === '4'
        }).length > 0) { %>
            食前<input type="checkbox" name="takeTime[]" value="4" checked="checked"><br>
        <% }else{ %>
            食前<input type="checkbox" name="takeTime[]" value="4"><br>
        <% } %>

        <% if (typeof data.errorMsg !== "undefined" && data.errorMsg.startsDate !== false) { %>
            <p class="medicine_update_error_message"><%= data.errorMsg.startsDate %></p>
        <% } %>
        <% if (typeof data.request !== "undefined" ) { %>
            処方日 <input type="date" name="startsDate" value="<%= data.request.startsDate %>">年
        <% } %>

        <% if (typeof data.errorMsg !== "undefined" && data.errorMsg.period !== false) { %>
            <p class="medicine_update_error_message"><%= data.errorMsg.period %></p>
        <% } %>
        <% if (typeof data.request !== "undefined" ) { %>
            処方期間 <input type="text" name="period" value="<%= data.request.period %>">日<br>
        <% } %>

        <% if (typeof data.errorMsg !== "undefined" && data.errorMsg.medicineType !== false) { %>
            <p class="medicine_update_error_message"><%= data.errorMsg.medicineType %></p>
        <% } %>
        <% if (typeof data.request !== "undefined" ) { %>
            種別 <input type="text" name="medicineType" value="<%= data.request.medicineType %>"><br>
        <% } %>

        <% if (typeof data.errorMsg !== "undefined" && data.errorMsg.description !== false) { %>
            <p class="medicine_update_error_message"><%= data.errorMsg.description %></p>
        <% } %>
        <% if (typeof data.request !== "undefined" ) { %>
            説明 <input type="text" name="description" value="<%= data.request.description %>"><br>
        <% } %>
        <input type="submit" value="登録">
    </form>
</main>