<div class="section-header">
    <h1>通知一覧</h1>
</div>

<% if (typeof data.success.message !== "undefined") { %>
    <div class="alert alert-success alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.success.message %>
        </div>
    </div>
<% } %>

<% if (typeof data.error.message !== "undefined") { %>
    <div class="alert alert-danger alert-dismissible show fade">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>×</span>
            </button>
            <%= data.error.message %>
        </div>
    </div>
<% } %>

<% if (data.meta.line_login === false) { %>
    <div class="alert alert-warning">
        LINE連携を行なっていないため、通知を行うことができません<br><a href="/account-setting">アカウント設定</a>からLINE連携を行ってください
    </div>
<% } %>

<% if (typeof data.notice_list !== "undefined") { %>
    <% if (data.notice_list.length === 0) { %>
        <div class="col-12 mb-4 pl-0 pr-0">
            <div class="hero bg-primary text-white">
                <div class="hero-inner">
                    <p class="lead">
                        登録されている通知情報が見つかりませんでした
                    </p>
                    <div class="mt-4">
                        <a href="/" class="btn btn-outline-white btn-lg btn-icon icon-left">
                            <i class="fas fa-plus"></i> 通知を登録
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="row">
            <% for (var nl = 0; nl < data.notice_list.length; nl++) { %>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div id="accordion_<%= (nl + 1) %>">
                                <div class="accordion">
                                    <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-<%= (nl + 1) %>" aria-expanded="false">
                                        <h4><%= data.notice_list[nl]['notice_name'] %></h4>
                                    </div>
                                    <small class="form-text text-muted mt-2">
                                        この通知は<% if (data.notice_list[nl]['is_enable']) { %> 有効 <% } else { %> 無効 <% } %>です
                                    </small>
                                    <div class="accordion-body collapse" id="panel-body-<%= (nl + 1) %>" data-parent="#accordion_<%= (nl + 1) %>">
                                        <div class="form-group">
                                            <label>通知期間</label>
                                            <p><%= data.notice_list[nl]['notice_period'] %></p>
                                        </div>
                                        <div class="form-group">
                                            <label>通知項目</label>
                                            <p>
                                                <% if (data.notice_list[nl]['medicine'].length === 0) { %>
                                                    薬情報が削除されたため通知項目が見つかりませんでした
                                                <% } else { %>
                                                    <% data.notice_list[nl]['medicine'].forEach(m => { %>
                                                        ・<%= m['medicine_name'] %>（<%= m['number'] %>個）<br>
                                                    <% }) %>
                                                <% } %>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>通知時間</label>
                                            <p>
                                                <% data.notice_list[nl]['time'].forEach((t, i) => { %>
                                                    <%= t %>
                                                    <% if (data.notice_list[nl]['time'].length - 1 !== i) { %>
                                                        ,
                                                    <% } %>
                                                <% }) %>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>通知曜日</label>
                                            <p>
                                                <% data.notice_list[nl]['week'].forEach((w, i) => { %>
                                                    <%= w %>
                                                    <% if (data.notice_list[nl]['week'].length - 1 !== i) { %>
                                                        ,
                                                    <% } %>
                                                <% }) %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 text-center">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/notice-update/<%= data.notice_list[nl]['notice_id'] %>" class="btn card-link">編集</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="javascript:noticeDelete(<%= data.notice_list[nl]['notice_id'] %>)" class="btn card-link link-danger">削除</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 text-right text-sm-center">
                                    <% if (data.notice_list[nl]['is_enable']) { %>
                                        <a href="javascript:noticeToggleFalse(<%= data.notice_list[nl]['notice_id'] %>)" class="btn btn-icon icon-left">
                                            <i class="fas fa-bell-slash"></i> 無効化
                                        </a>
                                    <% } else { %>
                                        <a href="javascript:noticeToggleTrue(<%= data.notice_list[nl]['notice_id'] %>)" class="btn btn-icon icon-left">
                                            <i class="fas fa-bell"></i> 有効化
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
<% } %>
